.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* Main section */
.main-section {
  .photos {
    display: flex;
    width: 100%;
    .left-side {
      width: 50%;
      padding: 10px;
      position: relative;
      pre {
        position: absolute;
        right: 20px;
        top: 50px;
        font-size: 65px;
        font-family: "Moon Dance", cursive;
        font-weight: 100;
        color: #c4c4c4;
      }
      img {
        width: 100%;
        height: 94%;
      }
    }
    .right-side {
      width: 50%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      img {
        width: 100%;
        transition: 0.5s all;
      }
      .first-photo {
        position: relative;
        overflow: hidden;
        span {
          position: absolute;
          z-index: 5;
          left: 40px;
          top: 80px;
          font-size: 45px;
          font-family: "Moon Dance", serif;
          font-weight: 100;
          color: #c4c4c4;
        }
        p {
          position: absolute;
          z-index: 10;
          left: 40px;
          top: 60px;
          font-size: 30px;
          font-family: "Lato", serif;
          font-weight: 500;
          color: #000;
        }
        &:hover {
          img {
            transform: translateX(13px);
          }
        }
      }
      .second-photo {
        position: relative;
        overflow: hidden;
        span {
          position: absolute;
          z-index: 5;
          left: 40px;
          top: 80px;
          font-size: 45px;
          font-family: "Moon Dance", cursive;
          font-weight: 100;
          color: #c4c4c4;
        }
        p {
          position: absolute;
          z-index: 10;
          left: 40px;
          top: 60px;
          font-size: 30px;
          font-family: "Lato", serif;
          font-weight: 500;
          color: #000;
        }
        &:hover {
          img {
            transform: translateX(13px);
          }
        }
      }
    }
  }
}

/* Our collection section  */
.our-collection-section {
  padding-bottom: 50px;
  .container {
    .head {
      text-align: center;
      padding-bottom: 50px;
      span {
        font-size: 60px;
        font-family: "Moon Dance", cursive;
        font-weight: 100;
        color: #c4c4c4;
        position: relative;
        top: 20px;
      }
      .heading {
        font-family: "Lato", serif;
        font-weight: 300;
        color: #000;
        font-size: 30px;
      }
      .text {
        font-family: "Cormorant", serif;
        font-weight: 100;
        color: #777575;
        font-style: italic;
        font-size: 23px;
      }
    }
    .photo-product {
      display: flex;
      justify-content: center;
      align-items: center;
      .photo-side {
        width: 50%;
        img {
          width: 100%;
        }
      }
      .products-side {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        .product {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .about-product {
            transition: 0.5s all;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 0;
            overflow: hidden;
            background-color: rgb(0, 0, 0, 0.8);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 88;
            .content {
              padding: 30px;
              background-color: #fff;
              display: flex;
              width: 60%;
              height: 80%;
              position: relative;
              .close-product {
                position: absolute;
                top: 30px;
                right: 30px;
                &:hover {
                  cursor: pointer;
                }
                i {
                  font-size: 30px;
                }
              }
              .about {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                span {
                  font-size: 25px;
                  font-family: "Moon Dance", cursive;
                  font-weight: 100;
                  color: #777575;
                  position: relative;
                  top: 20px;
                }
                p {
                  font-family: "Lato", serif;
                  font-weight: 500;
                  color: #000;
                  font-size: 30px;
                }
              }
            }
          }

          .photo {
            position: relative;
            img {
              height: 250px;
            }
            .icons {
              .icon {
                transition: 0.5s all;
                height: 0px;
                overflow: hidden;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                gap: 15px;
                i {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border: 1px solid #777575;
                  width: 30px;
                  height: 30px;
                  color: #000;
                  transition: 0.5s all;
                  &:hover {
                    color: #fff;
                    cursor: pointer;
                    background-color: #000;
                  }
                }
              }
            }
            &:hover {
              cursor: pointer;
              .icons {
                display: block;
                .icon {
                  height: 250px;
                }
              }
            }
          }
          .text {
            text-align: center;
            line-height: 28px;
            .first-p {
              font-family: "Lato", serif;
              font-weight: 300;
              color: #000;
              font-size: 20px;
            }
            .second-p {
              font-family: "Lato", serif;
              font-weight: 300;
              color: #777575;
              font-size: 13px;
              &:hover {
                color: #000;
                cursor: pointer;
              }
            }
            span {
              font-family: "Lato", serif;
              font-weight: 300;
              color: #000;
              font-size: 18px;
            }
            .stars {
              .fa-solid {
                color: #c4c4c4;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

/* Pure Skin section */
.pure-skin-section {
  .container {
    .head {
      text-align: center;
      padding-bottom: 50px;
      span {
        font-size: 60px;
        font-family: "Moon Dance", cursive;
        font-weight: 100;
        color: #c4c4c4;
        position: relative;
        top: 20px;
      }
      .heading {
        font-family: "Lato", serif;
        font-weight: 500;
        color: #000;
        font-size: 30px;
      }
      .text {
        font-family: "Cormorant", serif;
        font-weight: 100;
        color: #777575;
        font-style: italic;
        font-size: 23px;
      }
    }
    .pure-skin-photo {
      height: 500px;
      background-image: url("../images/h-2-background-img-1.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      div {
        position: absolute;
        top: 100px;
        right: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 500px;
        }
        .find-beauty-btn {
          margin-top: 30px;
          background-color: none;
          border: 1px solid #000;
          padding: 15px 60px;
          font-family: "Lato", serif;
          font-size: 15px;
          transition: 0.5s all;
          text-decoration: none;
          color: #000;
          &:hover {
            background-color: #000;
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
    .doctor-david {
      display: flex;
      .photo {
        width: 50%;
        img {
          width: 100%;
        }
      }
      .text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        .name-dr {
          font-family: "Lato", serif;
          font-weight: 500;
          font-size: 30px;
        }
        .about-dr {
          width: 450px;
          font-family: "Cormorant", serif;
          font-size: 27px;
          color: #777575;
          font-style: italic;
          padding: 30px 0;
        }
        span {
          width: 400px;
          font-family: "Cormorant", serif;
          font-size: 16px;
          color: #777575;
        }
        img {
          width: 200px;
          padding-top: 20px;
        }
      }
    }
  }
}

/* Purchase Timeline section */
.purchase-timeline-section {
  .purchase {
    background-image: url("../images/m-h-background-2-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    .card {
      display: flex;
      width: 400px;
      img {
        margin-right: 10px;
      }
      .text {
        p {
          font-family: "Lato", serif;
          color: #000;
          font-size: 22px;
          font-weight: 500;
        }
        span {
          font-family: "Cormorant", serif;
          color: #777575;
          font-size: 19px;
          font-weight: 100;
        }
      }
    }
  }
  .container {
    .timeline {
      .video {
        transition: 0.5s all;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 0;
        overflow: hidden;
        background-color: rgb(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 88;
        .content {
          background-color: #fff;
          display: flex;
          width: 60%;
          height: 80%;
          position: relative;
          .close-video {
            position: absolute;
            top: 30px;
            right: 30px;
            &:hover {
              cursor: pointer;
            }
            i {
              font-size: 30px;
            }
          }
        }
      }
      margin-bottom: 50px;
      display: flex;
      width: 100%;
      .left {
        height: 500px;
        width: 50%;
        background-image: url("../images/m-h-single-img-3.jpg");
        background-position: center;
        background-size: cover;

        .text {
          padding-left: 30px;
          width: 430px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          .head {
            span {
              font-size: 60px;
              font-family: "Moon Dance", cursive;
              font-weight: 100;
              color: #c4c4c4;
              position: relative;
              top: 20px;
            }
            p {
              font-family: "Lato", serif;
              font-weight: 500;
              color: #000;
              font-size: 30px;
            }
          }
          .main-text {
            font-size: 22px;
            font-family: "Cormorant", serif;
            font-style: italic;
            font-weight: 100;
            color: #777575;
            padding: 20px 0;
          }
          .about {
            font-size: 17px;
            font-family: "Cormorant", serif;
            font-weight: 100;
            color: #777575;
            padding-bottom: 40px;
          }
          .find-beauty {
            background-color: none;
            border: 1px solid #000;
            width: 200px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Lato", serif;
            font-size: 14px;
            transition: 0.5s all;
            text-decoration: none;
            color: #000;
            &:hover {
              background-color: #000;
              color: #fff;
              cursor: pointer;
            }
          }
        }
      }
      .right {
        width: 50%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../images/m-h-single-img-4.jpg");
        background-position: center;
        background-size: cover;

        .btn {
          .open-video-btn {
            color: #fff;
            background-color: #000;
            border: 1px solid #000;
            width: 60px;
            height: 60px;
            font-size: 25px;
            transition: 0.5s all;
            &:hover {
              background-color: transparent;
              cursor: pointer;
              color: #000;
            }
          }
        }
      }
    }
  }
}

/* Beauty Cosmetic section */
.beauty-cosmetic-section {
  padding: 50px 0;
  .container {
    .cosmetics {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .card-1,
      .card-2,
      .card-3,
      .card-4,
      .card-5,
      .card-6,
      .card-7,
      .card-8 {
        width: 300px;
        height: 300px;
        position: relative;
        img {
          width: 300px;
          height: 300px;
        }
        &::after {
          transition: 0.5s all;
          position: absolute;
          width: 280px;
          height: 0;
          background-color: #fff;
          overflow: hidden;
          bottom: 10px;
          left: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-family: "Cormorant", serif;
          font-style: italic;
          font-weight: 700;
          color: #000;
          font-size: 25px;
          text-transform: uppercase;
        }
        &:hover::after {
          height: 280px;
          cursor: pointer;
        }
      }
      .card-1 {
        &::after {
          content: "Lip liner";
        }
      }
      .card-2 {
        &::after {
          content: "Scratch eyeliner";
        }
      }
      .card-3 {
        &::after {
          content: "Baked blush";
        }
      }
      .card-4 {
        &::after {
          content: "Pointy ball";
        }
      }
      .card-5 {
        &::after {
          content: "Mineral blush";
        }
      }
      .card-6 {
        &::after {
          content: "Face primer";
        }
      }
      .card-7 {
        &::after {
          content: "Cool primer";
        }
      }
      .card-8 {
        &::after {
          content: "Skin care";
        }
      }
    }
  }
}

/* Logo section */
.logo-section {
  padding: 50px 0;
  margin: 50px 0;
  background-image: url("../images/m-h-background-6-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .logos {
      height: 100px;
      .second {
        display: none;
      }
      &:hover {
        .first {
          display: none;
        }
        .second {
          display: block;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .main-section {
    .photos {
      flex-direction: column;
      .left-side {
        width: 100%;
      }
      .right-side {
        width: 100%;
      }
    }
  }
  .our-collection-section {
    .photo-product {
      flex-direction: column;

      .photo-side {
        width: 90% !important;
        img {
          width: 100%;
        }
      }
      .products-side {
        width: 90% !important;
        .product {
          width: 100%;
        }
      }
    }
  }
  .pure-skin-section {
    .pure-skin-photo {
      div {
        img {
          width: 250px !important;
        }
      }
    }
    .doctor-david {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .photo {
        width: 100%;
      }
      .text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .purchase-timeline-section {
    .purchase {
      flex-direction: column;
      gap: 50px;
    }
    .timeline {
      flex-direction: column;
      .left {
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        .text {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .right {
        width: 100% !important;
      }
    }
  }
}
