.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* Main section */
.main-section {
  .photos {
    display: flex;
    width: 100%;
    .left-side {
      width: 50%;
      padding: 10px;
      position: relative;
      pre {
        position: absolute;
        right: 20px;
        top: 50px;
        font-size: 65px;
        font-family: "Moon Dance", cursive;
        font-weight: 100;
        color: #c4c4c4;
      }
      img {
        width: 100%;
        height: 94%;
      }
    }
    .right-side {
      width: 50%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      img {
        width: 100%;
        transition: 0.5s all;
      }
      .first-photo {
        position: relative;
        overflow: hidden;
        span {
          position: absolute;
          z-index: 5;
          left: 40px;
          top: 80px;
          font-size: 45px;
          font-family: "Moon Dance", serif;
          font-weight: 100;
          color: #c4c4c4;
        }
        p {
          position: absolute;
          z-index: 10;
          left: 40px;
          top: 60px;
          font-size: 30px;
          font-family: "Lato", serif;
          font-weight: 500;
          color: #000;
        }
        &:hover {
          img {
            transform: translateX(13px);
          }
        }
      }
      .second-photo {
        position: relative;
        overflow: hidden;
        span {
          position: absolute;
          z-index: 5;
          left: 40px;
          top: 80px;
          font-size: 45px;
          font-family: "Moon Dance", cursive;
          font-weight: 100;
          color: #c4c4c4;
        }
        p {
          position: absolute;
          z-index: 10;
          left: 40px;
          top: 60px;
          font-size: 30px;
          font-family: "Lato", serif;
          font-weight: 500;
          color: #000;
        }
        &:hover {
          img {
            transform: translateX(13px);
          }
        }
      }
    }
  }
}

/* Our collection section  */
.our-collection-section {
  padding-bottom: 50px;
  .container {
    .head {
      text-align: center;
      padding-bottom: 50px;
      span {
        font-size: 60px;
        font-family: "Moon Dance", cursive;
        font-weight: 100;
        color: #c4c4c4;
        position: relative;
        top: 20px;
      }
      .heading {
        font-family: "Lato", serif;
        font-weight: 300;
        color: #000;
        font-size: 30px;
      }
      .text {
        font-family: "Cormorant", serif;
        font-weight: 100;
        color: #777575;
        font-style: italic;
        font-size: 23px;
      }
    }
    .photo-product {
      display: flex;
      justify-content: center;
      align-items: center;
      .photo-side {
        width: 50%;
        img {
          width: 100%;
        }
      }
      .products-side {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        .product {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          .photo {
            transition: 1s all;
            position: relative;
            img {
              height: 250px;
            }
            .icons {
              display: none;
              .icon {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                gap: 15px;
                i {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border: 1px solid #777575;
                  width: 30px;
                  height: 30px;
                  color: #000;
                  transition: 0.5s all;
                  &:hover {
                    color: #fff;
                    cursor: pointer;
                    background-color: #000;
                  }
                }
              }
            }
            &:hover {
              cursor: pointer;
              .icons {
                display: block;
              }
            }
          }
          .text {
            text-align: center;
            line-height: 28px;
            .first-p {
              font-family: "Lato", serif;
              font-weight: 300;
              color: #000;
              font-size: 20px;
            }
            .second-p {
              font-family: "Lato", serif;
              font-weight: 300;
              color: #777575;
              font-size: 13px;
              &:hover {
                color: #000;
                cursor: pointer;
              }
            }
            span {
              font-family: "Lato", serif;
              font-weight: 300;
              color: #000;
              font-size: 18px;
            }
            .stars {
              .fa-solid {
                color: #c4c4c4;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

/* Pure Skin section */
.pure-skin-section {
  .container {
    .head {
      text-align: center;
      padding-bottom: 50px;
      span {
        font-size: 60px;
        font-family: "Moon Dance", cursive;
        font-weight: 100;
        color: #c4c4c4;
        position: relative;
        top: 20px;
      }
      .heading {
        font-family: "Lato", serif;
        font-weight: 500;
        color: #000;
        font-size: 30px;
      }
      .text {
        font-family: "Cormorant", serif;
        font-weight: 100;
        color: #777575;
        font-style: italic;
        font-size: 23px;
      }
    }
    .pure-skin-photo {
      height: 80vh;
      background-image: url("../images/h-2-background-img-1.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      div {
        position: absolute;
        top: 100px;
        right: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 500px;
        }
        .find-beauty-btn {
          margin-top: 30px;
          background-color: none;
          border: 1px solid #000;
          padding: 15px 60px;
          font-family: "Lato", serif;
          font-size: 15px;
          transition: 0.5s all;
          text-decoration: none;
          color: #000;
          &:hover {
            background-color: #000;
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
    .doctor-david {
      display: flex;
      .photo {
        width: 50%;
      }
      .text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        .name-dr {
          font-family: "Lato", serif;
          font-weight: 500;
          font-size: 30px;
        }
        .about-dr {
          width: 450px;
          font-family: "Cormorant", serif;
          font-size: 27px;
          color: #777575;
          font-style: italic;
          padding: 30px 0;
        }
        span {
          width: 400px;
          font-family: "Cormorant", serif;
          font-size: 16px;
          color: #777575;
        }
        img {
          width: 200px;
          padding-top: 20px;
        }
      }
    }
  }
}

/* Purchase Timeline section */
.purchase-timeline-section {
    .purchase {
      background-image: url("../images/m-h-background-2-2.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .card {
        display: flex;
        width: 400px;
        img{
          margin-right: 10px;
        }
        .text {
          p {
            font-family: "Lato", serif;
            color: #000;
            font-size: 22px;
            font-weight: 500;
          }
          span {
            font-family: "Cormorant", serif;
            color: #777575;
            font-size: 19px;
            font-weight: 100;
          }
        }
      }
    }
  
}

@media only screen and (max-width: 768px) {
  .main-section {
    .photos {
      flex-direction: column;
      .left-side {
        width: 100%;
      }
      .right-side {
        width: 100%;
      }
    }
  }
  .our-collection-section {
    .photo-product {
      flex-direction: column;

      .photo-side {
        width: 90% !important;
        img {
          width: 100%;
        }
      }
      .products-side {
        width: 90% !important;
        .product {
          width: 100%;
        }
      }
    }
  }
}
