* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
html {
  scroll-behavior: smooth;
}

/* responsive navbar */
.responsive-navbar {
  display: none;
}
.responsive-menu {
  transition: 1s all;
  height: 100%;
  width: 0;
  background-color: #000;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .close-responsive-menu {
    position: absolute;
    right: 50px;
    top: 25px;
    font-size: 35px;
  }
  ul {
    display: none;
    li {
      list-style: none;
      text-align: center;
      .logo {
        width: 150px;
      }
      a {
        font-family: "Lato", serif;
        font-weight: 400;
        text-decoration: none;
        color: #4f4e4e;
        font-size: 20px;
        text-transform: uppercase;
        position: relative;
        line-height: 40px;
        &::after {
          transition: 0.5s all;
          position: absolute;
          top: 100%;
          left: 0;
          content: " ";
          background-color: #4f4e4e;
          height: 1px;
          width: 0px;
        }
        &:hover::after {
          position: absolute;
          top: 100%;
          left: 0;
          content: " ";
          background-color: #4f4e4e;
          height: 1px;
          width: 100%;
        }
      }
    }
  }
}

/* header css */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  transition: 1s all;
  z-index: 50;
  background-color: #fff;
  width: 100%;
  .wishlist {
    a {
      font-family: "Cormorant", serif;
      font-style: italic;
      font-weight: 100;
      text-decoration: none;
      color: #838383;
      font-size: 22px;
      .heart path {
        fill: #000;
        transition: all 0.25s ease-in-out;
      }

      &:hover path {
        fill: #838383;
      }
    }
  }
  nav {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      li {
        list-style: none;
        .logo {
          width: 124px;
        }
        a {
          font-family: "Lato", serif;
          font-weight: 300;
          text-decoration: none;
          color: black;
          font-size: 14px;
          text-transform: uppercase;
          position: relative;
          &::after {
            transition: 0.5s all;
            position: absolute;
            top: 100%;
            left: 0;
            content: " ";
            background-color: #000;
            height: 1px;
            width: 0px;
          }
          &:hover::after {
            position: absolute;
            top: 100%;
            left: 0;
            content: " ";
            background-color: #000;
            height: 1px;
            width: 100%;
          }
        }
      }
    }
  }
  .cart-menu {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: black;
          font-size: 25px;
        }
      }
    }
  }
}

/* sidebar css */
.sidebar {
  position: fixed;
  z-index: 80;
  top: 0;
  right: 0;
  background-color: #000;
  height: 100vh;
  width: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  overflow: hidden;
  transition: 1s all;
  .sidebar-content {
    display: none;
    position: relative;
    .x-logo {
      cursor: pointer;
      position: absolute;
      top: 47px;
      right: 32px;
      i {
        font-size: 35px;
      }
    }
    .logo-white {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 100px;
      img {
        width: 150px;
      }
    }
    p {
      padding-top: 50px;
      font-family: "Cormorant", serif;
      font-style: italic;
      font-weight: 700;
      color: #838383;
      font-size: 22px;
      text-align: center;
      width: 500px;
    }
    .icons {
      padding: 30px 0 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      a {
        border: 1px solid #838383;
        text-decoration: none;
        transition: 0.5s all;
        i {
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &:hover {
          border-color: #fff;
        }
      }
    }
    .collections-text {
      p {
        font-family: "Lato", serif;
        color: #fff;
        font-weight: 300;
        padding-bottom: 20px;
      }
      ul {
        text-align: center;
        line-height: 35px;
        li {
          list-style: none;
          font-family: "Cormorant", serif;
          font-style: italic;
          font-weight: 700;
          a {
            transition: 0.5s all;
            color: #838383;
            font-size: 18px;
            text-decoration: none;
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

/* footer */
footer {
  background-color: #f4dbd7;
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
    .left {
      width: 100%;
      p {
        color: #000;
        font-family: "Lato", serif;
        font-size: 25px;
        font-weight: 500;
      }
      div {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        span,
        a {
          color: #4f4e4e;
          font-family: "Cormorant", serif;
          font-size: 17px;
          font-weight: 700;
          font-style: italic;
          text-decoration: none;
          transition: 0.5s all;
          line-height: 25px;
          &:hover {
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
    .middle {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      img {
        width: 150px;
        margin: 20px 0;
      }
      p {
        color: #4f4e4e;
        font-family: "Cormorant", serif;
        font-size: 24px;
        font-weight: 700;
        font-style: italic;
        text-decoration: none;
        width: 370px;
        text-align: center;
      }
      .icons {
        padding: 30px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        a {
          border: 1px solid #000;
          text-decoration: none;
          i {
            width: 40px;
            transition: 0.5s all;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000;
          }
          &:hover {
            i {
              color: #fff;
              background-color: #000;
            }
          }
        }
      }
    }
    .right {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      p {
        color: #000;
        font-family: "Lato", serif;
        font-size: 25px;
        font-weight: 500;
      }
      div {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        span {
          color: #4f4e4e;
          font-family: "Cormorant", serif;
          font-size: 17px;
          font-weight: 700;
          font-style: italic;
          text-decoration: none;
          transition: 0.5s all;
          line-height: 25px;
          &:hover {
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }
}

/* scroll up */
.scroll-up-btn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 1px solid #000;
  background-color: transparent;
  width: 60px;
  height: 60px;
  font-size: 25px;
  transition: 0.5s all;
  &:hover {
    cursor: pointer;
    color: #fff;
    background-color: #000;
  }
}
::-webkit-scrollbar-thumb {
  background-color: #f4dbd7;
}
::-webkit-scrollbar {
  background-color: #fff;
  /* width: 0; */
}
::selection {
  background-color: #f4dbd7;
}

@media only screen and (max-width: 768px) {
  .responsive-navbar {
    z-index: 60;
    width: 100%;
    background-color: #fff;
    display: block;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    align-items: center;
    border-bottom: 1px solid #838383;
    .logo {
      img {
        width: 100px;
      }
    }
  }
  header {
    display: none;
  }
  footer {
    .container {
      padding: 20px 0;
      flex-direction: column;
      .left,
      .middle,
      .right {
        text-align: center;
        align-items: center;
        padding: 20px 0;
      }
      .right {
        div {
          align-items: center;
        }
      }
    }
  }
}
